KuzeyYeli.WinForm/Service References/CategoryServiceReference/CategoryService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KuzeyYeliDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KuzeyYeliDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDTO" nillable="true" type="tns:ArrayOfCategoryDTO" />
  <xs:complexType name="CategoryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="KategoriAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KategoriID" type="xs:int" />
      <xs:element minOccurs="0" name="Resim" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Tanimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDTO" nillable="true" type="tns:CategoryDTO" />
</xs:schema>