KuzeyYeli.WinForm/Service References/SupplierServiceReference/SupplierService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/KuzeyYeliDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/KuzeyYeliDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSupplierDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierDTO" nillable="true" type="tns:ArrayOfSupplierDTO" />
  <xs:complexType name="SupplierDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bolge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Faks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusteriAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MusteriUnvani" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostaKodu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sehir" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SirketAdi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TedarikciID" type="xs:int" />
      <xs:element minOccurs="0" name="Telefon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ulke" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WebSayfasi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierDTO" nillable="true" type="tns:SupplierDTO" />
</xs:schema>